.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


html{
  scroll-behavior: smooth;
}

.game__wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-6{
  width: 40%;
  flex-basis: 40%;
  display: inline-block;
  border: 1px solid;
  padding: 20px;

}


.col-12{
  width: 100%;
  flex-basis: 100%;
}

.destination {
  height: 300px;
  font-size: 40px;
  text-align: center;
  border: 2px solid green;
}